<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConexaoBD" connectionString="Data Source=DESKTOP-H85U1QD;Initial Catalog=BDControleFuncionarios;User ID=sa;Password=***********;Encrypt=False"
			 providerName="System.Data.Client"/>
	</connectionStrings>
</configuration>